<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Brain Cancer Prediction">
    
    <title>Brain Cancer Prediction</title>

    
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/form-upload.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-upload" action="/upload" method="post" enctype="multipart/form-data">
      <h1 class="h3 mb-3 font-weight-normal">Prześlij obrazowanie tomografii mózgu.</h1>
      <input type="file" id="image" name = "image" class="form-control" required autofocus>
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Wykonaj predykcję</button>
      {% if image_loc %}
      <div class="mt-4">
        <img class="mb-4" src="/public/{{image_loc}}" alt="TK mózgu" width="224" height="224">
        <h3 class="h3 mb-3 font-weight-normal"> Predykcja: {{prediction}}</h3>
      </div>
      {% endif %}
    </form>
  </body>
</html>